* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url('/assets/images/burger.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.itemsContainer {
    /* background-color: white; */
    color: black;
    width: 1200px;
    height: 600px;
    display: flex;
    gap: 10px;
}

.cart {
    width: 900px;
    /* border: 1px solid red; */
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.title-type-price {
    /* border: 1px solid red; */
    width: 100%;
    max-width: 100%;
    margin-left: 10px;
}

.cartItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90%;
    overflow-x: hidden;
}

#title {
    font-size: 1.5rem;
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
}

.cartItem {
    display: flex;
    width: 110%;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

/* width */
::-webkit-scrollbar {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.burger-image {
    object-fit: scale-down !important;
    min-width: 90px;
    max-width: 90px;
    min-height: 70px;
    max-height: 70px;
    /* border: 1px solid red; */
    margin-left: 60px;
}

.title-type {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.cart-buttons {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.buttons-container {
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
}

.quantity-button {
    background-color: goldenrod;
    padding: 2px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
}

.burger-title {
    font-size: 1.2rem;
    max-width: 380px;
    /* Set a maximum width for the title */
    word-wrap: break-word;
    /* Allows long words to break */
    overflow-wrap: break-word;
    /* Ensures that long words break onto the next line */
    white-space: normal;
    /* Allows text to wrap normally */
}

.charges {
    width: 450px;
    height: 50%;
    /* border: 1px solid red; */
    background-color: white;
    border-radius: 15px;
}

.chargesCalculation {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.amountType {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.amountValue {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.checkout {
    width: 100%;
    display: flex;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.checkout-button {
    font-size: 1.2rem;
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
}

.totalPayable {
    font-size: 1.5rem;
    font-weight: bold;
}